
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 10;
}


.navbar:nth-child(1) {
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}



button {
    padding: .6rem 1.4rem;
    border: none;
    border-radius: .3rem;
    text-align: center;
    cursor: pointer;
}

.btn1 {
    background: orange;
    margin-right: .4rem;
    color: #fff
}

.btn2 {
    background: transparent;
    color: orange;
    outline: .2px solid orange
}