
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

button {
    padding: .6rem 1.4rem;
    border: none;
    border-radius: .3rem;
    text-align: center;
}

.btn1 {
    background: orangered;
    margin-right: .4rem;
}