
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    max-width: 1600px;
    margin: 0 auto;
}

button {
    padding: .6rem 1.4rem;
    border: none;
    border-radius: .3rem;
    text-align: center;
    cursor: pointer;
}

.btn1 {
    background: orange;
    margin-right: .4rem;
    color: #fff
}

.btn2 {
    background: transparent;
    color: orange;
    outline: .2px solid orange
}