* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

.App {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}

  form {
    position: relative;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
  }
.App form input {
  padding: .7rem 1.6rem;
  width: 50%;
}

.btn {
  padding: .5rem 2rem;
  text-align: center;
  color: #fff;
  width: 50%;
  background: orange;
}
