* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

.App {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.intro {
  margin-top: 10rem;
 margin-left: 9rem;
 max-width: 800px;
}



  
.signin-text {
  width: 280px;
}

.App form input {
  padding: .4rem 1.6rem;
  
}

.btn {
  padding: .4rem 2rem;
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;
  background: #ffa500;
  border-radius: 0%;
}


.p {
  font-size: .7rem;
}